/* Containter */

body > div { 
	background: #6F3;
	margin: 0 auto;
	width: 960px;
	
}

body > div:after {
	content: '.';
	clear: both;
}

/* Logo */

nav img {
	position: fixed;
	top: 0;
	left: 15px;
}

/* Structure */

nav {
	width: 960px;
	
}

section {
	background: purple;
	float: left;
	width: 240px;
}

section:hover {
	background: gold;
	transition: background 1s;
	
}

/* footer */

footer p {
	width: 480px;
	background: red;
	float: left;
	
}
